* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: whitesmoke;
	font-family: 'Saira', Arial, Helvetica, sans-serif;
}

.header {
    margin: 2rem;
    text-align: center;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;
}

date-picker {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}